registry=https://registry.npm.taobao.org/
electron_mirror=https://npm.taobao.org/mirrors/electron/
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
chromedriver_cdnurl=https://npm.taobao.org/mirrors/chromedriver/
sqlite3_binary_host_mirror=https://npm.taobao.org/mirrors/sqlite3/
profiler_binary_host_mirror=https://npm.taobao.org/mirrors/node-inspector/
strict-peer-dependencies=false
